:root {
    background-color: magenta; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    top: 0;
    margin-left: 0% ;
}

.orangeHeader {
    width: 100vw;
    height: 40vh;
    top: 0;
    position:fixed;
    background-color: #FF9900;
}

.onestop {
    font-weight:normal;
    color: #FF0000;
    position:fixed;
    top: -10vh;
    left: 10vh;
    text-decoration: underline;
    font-size:7.75vw;
}
.onlineshop {
    font-weight:normal;
    color: #707070;
    left:53vw;
    font-size: 5vw;
    top: 0vh;
    position:fixed;
    transform: rotate(3deg)

}

.query{
    font-weight:normal;
    color: #ffffff;
    -webkit-text-stroke: 2px black;
    right:5vw;
    font-size: 4vw;
    top: 9vh;
    position:fixed;
    transform: rotate(18deg);
    text-decoration: underline;
}

.scamazon {
    position: fixed;
    top:7vh;
    left: 5vw;
    font-size:7.75vw;
    font-weight:normal;
    color: #004CFF;
    text-shadow: 2vh 1.5vh #00FF4C;
}

.ourproducts {
    position: fixed;
    font-weight:normal;
    color: #FFEE00;
    left:42vw;
    font-size: 2.75vw;
    top: 23vh;
    position:fixed;
    transform: rotate(18deg);
    text-decoration: underline;
}

.savesalots {
    position: fixed;
    font-weight:normal;
    color: #FF4DCF;
    left:52vw;
    font-size: 2.75vw;
    top: 23vh;
    position:fixed;
    transform: rotate(18deg);
    text-decoration: underline;
}

.instore {
    position: fixed;
    font-weight:normal;
    color: #00FF4C;
    left:66vw;
    font-size: 2.75vw;
    top: 23vh;
    position:fixed;
    transform: rotate(18deg);
    text-decoration: underline;
}

.emptyhirings {
    position: fixed;
    font-weight:normal;
    color: #FF002B;
    left:74vw;
    font-size: 2.75vw;
    top: 23vh;
    position:fixed;
    transform: rotate(18deg);
    text-decoration: underline;
}

.redBody{
    width: 100vw;
    height: 65vh;
    top: 40vh;
    position:fixed;
    background-color: #FF0000;
}

.cashierpic{
    position: fixed;
    bottom: 5vh;
    left: 45vw;
}

.boxpic {
    position: fixed;
    bottom: 20vh;
    right: 5vw;
    transform: rotate(18deg);
}

.snacks {
    position: fixed;
    bottom: 40vh;
    left: 45vw;
}

.tech {
    position: fixed;
    bottom: 15vh;
    left: 3vw;
}

.cart {
    position: fixed;
    bottom: 15vh;
    left: 25vw;
}

.refresh {
    position: fixed;
    bottom: 35vh;
    right: 15vw;
    transform: rotate(18deg);
}

.newLocation {
    position: fixed;
    top:38vh;
    left: 5vw;
    font-size:3vw;
    font-weight:normal;
    color: #15D4E9;
}

.on {
    position: fixed;
    top:45vh;
    left: 5vw;
    font-size:3vw;
    font-weight:normal;
    color: #15D4E9;
}

.ninth {
    position: fixed;
    top:45vh;
    left: 10vw;
    font-size:3vw;
    font-weight:normal;
    color:#F604F6;
}

.clickHere {
    position: fixed;
    bottom: 45vh;
    right: 15vw;
    transform: rotate(9deg);
    font-size:2vw;
    font-weight:normal;
    color: #88FF00;
}

.clickHerecart {
    position: fixed;
    bottom: 42vh;
    right: 29.5vw;
    transform: rotate(9deg);
    font-size:2vw;
    font-weight:normal;
    color:#88FF00;
}

.goodSnacks{
    position: fixed;
    top:45vh;
    left: 45vw;
    font-size:6vw;
    font-weight:normal;
    color:#0AFB49;
}

.greatDeals{
    position: fixed;
    bottom:-5vh;
    left: 2vw;
    font-size:5vw;
    font-weight:normal;
    color:#064570;
}

.delivery {
    position: fixed;
    bottom: 18vh;
    right: 20vw;
    transform: rotate(18deg);
    font-size:2vw;
    font-weight:normal;
    text-decoration: underline;
    color:#FFEE00;
}
.available {
    position: fixed;
    bottom: 13vh;
    right: 20vw;
    transform: rotate(18deg);
    font-size:2vw;
    font-weight:normal;
    text-decoration: underline;
    color:#FFEE00;
}

.nicePeople{
    position: fixed;
    bottom:-5vh;
    right: 10vw;
    font-size:5vw;
    font-weight:normal;
    color:#F5F500;
}